<section class="d-flex justify-content-center">

  <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
      <a href="index.html" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Admin Panel</h3>
      </a>

      <div class="navbar-nav w-100">
        <a href="/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

        <a href="/admin/view-product" class="nav-link dropdown-toggle"><i class="fa fa-laptop me-2"></i>View Product
        </a>

        <a href="/admin/add-product" class="nav-link dropdown-toggle"><i class="fa fa-laptop me-2"></i>Add Product</a>


        <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
        <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
        <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
        <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
              class="far fa-file-alt me-2"></i>Pages</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a href="signin.html" class="dropdown-item">Sign In</a>
            <a href="signup.html" class="dropdown-item">Sign Up</a>
            <a href="404.html" class="dropdown-item">404 Error</a>
            <a href="blank.html" class="dropdown-item">Blank Page</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Prodcut Delivery</p>
{{#each singleOrder}}
            <div class="col-md-2">
              <img src="/product-images/{{this.product._id}}.png" class="img-fluid" alt="Phone">
            </div>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>10 April 2021</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order Id</p>
                <p>012j1gvs356c</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p>{{this.product.name}}</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>₹{{this.product.price}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Quantity</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">{{this.quantity}}</p>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">₹{{this.product.price}}</p>
              </div>
            </div>
              {{/each}}

            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>

            <div class="row">
              <div class="col-lg-12">

                <div class="horizontal-timeline">

                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <a href="/admin/item-packed/{{singleId}} " class="btn btn-danger mt-5">Packed</a>
                    </li>
                    <li class="list-inline-item items-list">
                      <a href="/admin/item-shipped/{{singleId}} " class="btn btn-danger mt-5">Shipped</a>
                    </li>
                    
                    <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                     <a href="/admin/item-delivered/{{singleId}} " class="btn btn-danger mt-5">Delivered</a>
                    </li>
                  </ul>
               

                </div>

              </div>
            </div>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                us</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>




</section>