<div class="hello">
<section class="about_section layout_padding  width: 100%;" >
  <div class="container">




    <form id="checkout-form">


      <div class="payCard ">
        <div class="card mx-5" style="width: 18rem;">
          <div class="card-body  ">
            <h5 class="note note-dark text-secondary text-dark">Total Amount Rs:{{total}}</h5>


            <div class="custom-control custom-radio">
              <input type="radio" class="note note-dark text-secondary" value="COD" name="payment-method">
              <label class="note note-dark text-secondary text-dark" for="defaultUnchecked">Cash on Delivery</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" class="note note-dark text-secondary" value="ONLINE" name="payment-method">
              <label class="note note-dark text-secondary text-dark" for="defaultUnchecked">Online Delivery</label>
            </div>

            <Button type="submit" class="btn btn-warning">Place Order</Button>></Button>
          </div>
        </div>

      </div>

      

   


      <div class="detail-box ">

        <div class="heading_container">
          <h2>
            Enter Delivery Details
          </h2>
        </div>
        <div class="form-outline mb-4">
          <div class="form-outline flex-fill ">
            <label class="form-label" for="form3Example3c">Name</label>
            <input type="name" id="form3Example3c" placeholder="{{this.name}}" name="name" class="form-control" required />
          </div>
        </div>


        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example1c">City</label>
            <input type="text" id="address" placeholder="{{this.city}}" name="address" class="form-control" required />
          </div>
        </div>


        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example3c">District</label>
            <input type="text" id="form3Example3c" placeholder="jjjj{{this.district}}" name="distirct" class="form-control" required />
          </div>
        </div>
        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example3c">Town/City</label>
            <input type="text" id="form3Example3c" placeholder="{{this.city}}" name="town" class="form-control" required />
          </div>
        </div>
        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example3c">State</label>
            <input type="text" id="form3Example3c" placeholder="{{this.state}}" name="state" class="form-control" required />
          </div>
        </div>
        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example4c">Pincode</label>
            <input type="text" id="pincode" placeholder="{{this.pincode}}" name="pincode" class="form-control" required />
          </div>
        </div>


        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example3c">Email</label>
            <input type="email" id="form3Example3c" placeholder="{{this.email}}" name="email" class="form-control" required />
          </div>
        </div>





        <div class="form-outline mb-4">
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example4c">Mobile</label>
            <input type="text" id="form3Example4c" name="mobile" class="form-control" required />
            <input type="text" id="" name="userId" value="{{user._id}}" hidden>
          </div>
        </div>
      </div>

     
     











    </form>
     {{#each userAddress}}

<div class="cardAddress">
  
    <div class="cardAddress" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Address{{inc @index}}</h5>
      
         <p class="card-text">Name: {{this.name}}</p>
                <p class="card-text">City: {{this.city}}</p>
                <p class="card-text">District: {{this.district}}</p>
                <p class="card-text">State: {{this.state}}</p>
                <p class="card-text">Country: {{this.country}}</p>

          <a href="/place-order?id={{this._id}}" class="card-link">Select Address</a>
     
        </div>
      </div>
      
  </div>
  {{/each}}

</div>


 <footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        
     
      </div>
    </div>
    <div class="footer-info">
      <p>
      <span ></span>
        <a> </a><br><br>
      </a>
      </p>
    </div>
  </div>
</footer>




</section>
</div>

<script>

  document.getElementById('checkout-form').addEventListener('submit', function (evt) {
    evt.preventDefault();
    $.ajax({
      url: '/place-order',

      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {

        if (response.status) {
          location.href = '/order-success'


        }

      }
    })

  })

</script>




<style>
  .payCard {
    width: 500px;
    height: 200px;
    float: right;
    display: flex;



  }

  .detail-box {
    
    width: 500px;
    
  }
  .cardAddress{
   
      width: 300px;
      float: left;
    
  }
  .container{
    height: 100%;
    width: 100%;
   
  }
  .hello{
     height: 100%;
         width: 100%;
  }
</style>