 <section class="about_section layout_padding ">
    <div class="container  ">

      <div class="row mx-5 row d-flex justify-content-center">

        <div >

               <td><img src="/product-images/{{this.productId}}.png" style="width: 250px; height: 250px;"></td>


            </div>
       
        <div class="col-md-6 ">
          <div class="detail-box pl-5">


            


              <div>
           

  <h3 class="card-header">{{this.name}}</h3>
  

   
  
    <h5 class="card-title">{{this._id}}</h5>
 

      <p>
       {{this.description}}
      </p>

      <p>
       "Suspendisse in rutrum elit, eget lacinia purus. Cras nisi magna, lacinia ut eros quis, molestie auctor tortor. Aenean congue tincidunt erat, nec aliquam massa convallis a. Cras ex elit, porttitor et semper at, ullamcorper in urna. Mauris convallis quis sapien sed placerat. Sed commodo felis id aliquam ornare. Praesent convallis eget leo vel volutpat. Suspendisse id ipsum ut odio porttitor malesuada. Praesent non nibh id libero pharetra efficitur eu nec sapien. Nullam hendrerit convallis finibus. Praesent convallis, augue ac ultrices tristique, augue risus viverra odio, non facilisis dolor metus et massa.
        Mauris blandit dapibus ex sit amet commodo. Vestibulum varius sapien at est vehicula faucibus"
      </p>


     
      <div class="options">
      <h6>
      ₹{{this.price}}
      </h6>

      <h6>
     Home Delivery Available
      </h6>

    <a href="#" class="btn btn-primary">Buy Now</a>

     <a href="#" class="btn btn-primary">Add to cart</a>
  

           
      
        </div>

        </div>

    
      </div>
    </div>
    </div>
    </div>

  </section>






  




  