<div class="container rounded bg-white mt-5 mb-5">

    {{#with userSignUpDetails}}
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{this.Name}}</span><span class="text-black-50">{{this.Email}}</span><span>
                </span>
                <button type="button" class="btn btn-link btn-block mt-3" data-toggle="modal" data-target="#staticBackdrop1">
                    Add Address
                </button>

                <button type="button" class="btn btn-link btn-block " data-toggle="modal" data-target="#nameChange">
                    Edit Profile
                </button>
                <button type="button" class="btn btn-link btn-block  " data-toggle="modal" data-target="#password">
                    Change Password
                </button>
                <a  class="btn btn-link btn-block " href="/order-list">
                    View Orders
                </a>
            </div>

        </div>

        <div class="col-md-5 border-right">
            <form>
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name </label><input type="text" name="Name"
                                class="form-control" placeholder="{{this.Name}}" value="{{this.Name}}"></div>
                        <div class="col-md-12"><label class="labels">Number </label><input type="text" name="Phone"
                                class="form-control" placeholder="{{this.phone}}" value=""></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" name="Email"
                                class="form-control" placeholder="{{this.Email}}" value=""></div>
                    </div>



            </form>


        </div>




    </div>
    {{/with}}




</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-70">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add Address</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                
            </div>
            <div class="modal-body p-3">
                <form action="/user-profile" method="post">
                    <!-- Email input -->
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" name="Name"
                                class="form-control" placeholder="Enter Name" value="" required></div>

                        <div class="col-md-12"><label class="labels">Email</label><input type="text" name="Email"
                                class="form-control" placeholder="enter Email" value="" required></div>

                                 <div class="col-md-12"><label class="labels">Mobile</label><input type="number" name="mobile"
                                class="form-control" placeholder="enter Mobile" value="" required></div>

                        <div class="col-md-12"><label class="labels">Building Name</label><input type="text"
                                name="Building_Name" class="form-control" placeholder="enter Building Name" value="" required>
                        </div>
                        <div class="col-md-12"><label class="labels">Street Name</label><input type="text"
                                name="Street_Name" class="form-control" placeholder="enter Street" value="" required></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" name="City"
                                class="form-control" placeholder="enter City" value="" required></div>
                        <div class="col-md-12"><label class="labels">District</label><input type="text" name="District"
                                class="form-control" placeholder="enter District" value="" required></div>
                        <div class="col-md-12"><label class="labels">State</label><input type="text" name="State"
                                class="form-control" placeholder="enter State" value="" required></div>
                        <div class="col-md-12"><label class="labels">Pincode</label><input type="text" name="Pincode"
                                class="form-control" placeholder="enter Pincode" value="" required></div>
                        <div class="col-md-12"><label class="labels">Country</label><input type="text" name="Country"
                                class="form-control" placeholder="country" value="" required></div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">save Address</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="nameChange" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Edit Name</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form action="/update-name" method="post">
                    <!-- Email input -->
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" name="Name"
                            class="form-control" placeholder="Enter Name" value="" required></div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->




{{#each userAddress}}

<div id="accordion">
    <div class="card">

        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Address{{inc @index}}
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p class="card-text">Name: {{this.name}}</p>
                <p class="card-text">Email: {{this.Email}}</p>
                <p class="card-text">Mobile: {{this.mobile}}</p>
                <p class="card-text">City: {{this.city}}</p>
                <p class="card-text">District: {{this.district}}</p>
                <p class="card-text">State: {{this.state}}</p>
                <p class="card-text">Country: {{this.country}}</p>

             
                  <td><a  href="" class="btn btn-success " data-toggle="modal" data-target="#editAddress{{this.id}}">
                    Edit Address
                </a></td>

                <td><a href="/delete-address/{{this.id}}" class="btn btn-danger"
                        onclick="return confirm('Are you sure want to delete {{this.name}} ?')">Delete</a></td>


            </div>
        </div>
    </div>

</div>




<div class="modal fade" id="editAddress{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">EDIT ADDRESS</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form action="/edit-address/{{this.id}}" method="post">
                    <!-- Email input -->
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" name="Name"
                                class="form-control" placeholder=" {{this.name}} " value=" {{this.name}}"></div>

                                  <div class="col-md-6"><label class="labels">Email</label><input type="text" name="Name"
                                class="form-control" placeholder=" {{this.Email}} " value=" {{this.Email}}"></div>
                                

                        <div class="col-md-12"><label class="labels">Building Name</label><input type="text"
                                name="Building" class="form-control" placeholder="{{this.building}}" value="{{this.building}}">
                        </div>
                        <div class="col-md-12"><label class="labels">Street Name</label><input type="text"
                                name="Street" class="form-control" placeholder="{{this.street}}" value="{{this.street}}"></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" name="City"
                                class="form-control" placeholder=" {{this.city}}" value="{{this.city}}"></div>
                        <div class="col-md-12"><label class="labels">District</label><input type="text" name="District"
                                class="form-control" placeholder=" {{this.district}}" value="{{this.district}}"></div>
                        <div class="col-md-12"><label class="labels">State</label><input type="text" name="State"
                                class="form-control" placeholder="{{this.state}}" value="{{this.state}}"></div>
                        <div class="col-md-12"><label class="labels">Pincode</label><input type="text" name="Pincode"
                                class="form-control" placeholder="{{this.pincode}}" value=""></div>
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" name="Country"
                                class="form-control" placeholder="{{this.country}}" value="{{this.country}}"></div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit"  class="btn btn-primary btn-block">save Address</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{/each}}



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                      <form onsubmit ="return checkPassword()" action="/update-password" method="post">
                    <!-- Email input -->
                    <div class="col-md-6"><label class="labels">Enter Old Password</label><input type="text" 
                            class="form-control" placeholder="Enter Password" value=""></div>

                    <div class="col-md-6"><label class="labels">Passsword</label><input type="text" name="PasswordOne"
                            class="form-control" placeholder="Enter Password" id="passFirst" value=""></div>

                            <div class="col-md-6"><label class="labels">Confirm Password</label><input type="text"
                            class="form-control" placeholder="Confirm Password " id="passSecond" value=""></div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
                </form>



            </div>

        </div>
    </div>
</div>



<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>
            Contact Us
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +01 1234567890
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo">
            Feane
          </a>
          <p>
            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
            words, combined with
          </p>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>
          Opening Hours
        </h4>
        <p>
          Everyday
        </p>
        <p>
          10.00 Am -10.00 Pm
        </p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a><br><br>
        &copy; <span id="displayYear"></span> Distributed By
        <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
      </p>
    </div>
  </div>
</footer>





<script>
    body {
        background: rgb(99, 39, 120)
    }

.form - control:focus {
        box - shadow: none;
        border - color: #BA68C8
    }

.profile - button {
        background: rgb(99, 39, 120);
        box - shadow: none;
        border: none
    }

.profile - button:hover {
        background: #682773
    }

.profile - button:focus {
        background: #682773;
        box - shadow: none
    }

.profile - button:active {
        background: #682773;
        box - shadow: none
    }

.back:hover {
        color: #682773;
        cursor: pointer
    }

.labels {
        font - size: 11px
    }

.add - experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }




</script>



<script>
  function checkPassword() {  
  var pw1 = document.getElementById("passFirst").value;  
  var pw2 = document.getElementById("passSecond").value;  
  if(pw1 != pw2)  
  {   
    alert("Passwords did not match"); 
     return false;  

  } else {  
    alert("Password created successfully");  
    
  return true;  
  }  

}  
</script>